[submodule "qemu-l0"]
	path = qemu-l0
	url = https://github.com/sslab-gatech/tdx-qemu.git
	branch = opentdx-host
[submodule "qemu-l1"]
	path = qemu-l1
	url = https://github.com/sslab-gatech/tdx-qemu.git
	branch = opentdx-guest
[submodule "linux-l0"]
	path = linux-l0
	url = https://github.com/sslab-gatech/tdx-linux.git
	branch = opentdx-host
[submodule "linux-l1"]
	path = linux-l1
	url = https://github.com/sslab-gatech/tdx-linux.git
	branch = opentdx-guest
[submodule "linux-l2"]
	path = linux-l2
	url = https://github.com/sslab-gatech/tdx-linux.git
	branch = opentdx-guest
[submodule "seabios"]
	path = seabios
	url = https://github.com/sslab-gatech/seabios.git
	branch = opentdx
[submodule "seam-loader"]
	path = seam-loader
	url = https://github.com/sslab-gatech/seam-loader.git
	branch = opentdx-built
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2
	branch = edk2-stable202502
[submodule "tdx-module"]
	path = tdx-module
	url = https://github.com/sslab-gatech/tdx-module.git
	branch = opentdx
